<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="login">
        <h1>PnuemoCare</h1>

        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="Name" placeholder="Name" required="required"><br>
            <label>Gender:</label><br>
            <input type="radio" id="male" name="Gender" value="Male" required>
            <label for="male">Male</label>
            
            <input type="radio" id="female" name="Gender" value="Female" required>
            <label for="female">Female</label><br>
            <input type="number" name="Age" placeholder="Age" required="required"><br>
            <input type="number" name="White Blood Cell Count" placeholder="White Blood Cell Count" min="0" max="16000"
                required="required"><br>
            <input type="number" name="CRP Level" step="0.01" placeholder="CRP Level" min="0" max="100" required="required"><br>
            <input type="number" name="Procalcitonin level" step="0.01" placeholder="Procalcitonin level" min="0" max="100"
                required="required"><br>
            <input type="number" name="ESR Level" placeholder="ESR Level" min="0" max="100" required="required"><br>
        
            <!-- Dropdown inputs -->
            <label for="cough">Cough:</label>
            <select id="cough" name="Cough">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <label for="shortnessOfBreath">Shortness of Breath:</label>
            <select id="shortnessOfBreath" name="Shortness of Breath">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <label for="chestPain">Chest Pain:</label>
            <select id="chestPain" name="Chest Pain">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <label for="chills">Chills:</label>
            <select id="chills" name="Chills">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <label for="fatigue">Fatigue:</label>
            <select id="fatigue" name="Fatigue">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <label for="productiveCough">Productive Cough:</label>
            <select id="productiveCough" name="Productive Cough">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br>
        
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

        </form>
      


        <br>
        <br>
        {{ prediction_text }}
        <a href="/detect"><button type="submit " id="detect_img">Detect via Image</button></a>
</body>
</html>